# Ignora carpetas
2025_03_18_radiocromic_ocean_espectrometro 
codigoMalo
copiadeSeguridadDatosEspectrofotometro.zip
2025_03_18_espectrometro_FC_Ciencias
RC_nn
resultados
Imagenes
# Ignora todos los archivos de texto
*.txt
.png

# Ignora los archivos relacionados a API keys
.env

# Ignora archivos de configuración SASS
.sass-cache